In [1]:
from src.montador import Montador

In [2]:
montador = Montador(file='./src/files/loader.asm')

In [3]:
montador.montar()

In [4]:
montador.tabela_labels

    Label Valor
1    INIT   0x0
7    LOOP   0x9
18    END  0x1d
19  IADDR  0x1e
21   SIZE  0x20
22    ONE  0x21

In [5]:
montador.codigo_tabelado

    Label Operacao Operador Operador Recalculado
0                @        0                  0x0
1    INIT       IO        1                  0x1
2               MM    IADDR                 0x1e
3               IO        1                  0x1
4               MM  IADDR+1                 0x1f
5               IO        1                  0x1
6               MM     SIZE                 0x20
7    LOOP       IO        1                  0x1
8               CN        2                  0x2
9               MM    IADDR                 0x1e
10              LD  IADDR+1                 0x1f
11               +      ONE                 0x21
12              MM  IADDR+1                 0x1f
13              LD     SIZE                 0x20
14               -      ONE                 0x21
15              MM     SIZE                 0x20
16              JZ      END                 0x1d
17              JP     LOOP                  0x9
18    END       OS       /F                  0xf
19  IADDR        K        0                  0x0
20               K        0                  0x0
21   SIZE        K        0                  0x0
22    ONE        K        1                  0x1
23               #     INIT                  0x0

In [6]:
montador.tabela_final.sort_values('Linha')

     End     Obj Linha      Codigo
0                    1         @ 0
1    0x0    0xc1     2   INIT IO 1
2    0x1  0x901e     3    MM IADDR
3    0x3    0xc1     4        IO 1
4    0x4  0x901f     5  MM IADDR+1
5    0x6    0xc1     6        IO 1
6    0x7  0x9020     7     MM SIZE
7    0x9    0xc1     8   LOOP IO 1
8    0xa    0x32     9        CN 2
9    0xb  0x901e    10    MM IADDR
10   0xd  0x801f    11  LD IADDR+1
11   0xf  0x4021    12       + ONE
12  0x11  0x901f    13  MM IADDR+1
13  0x13  0x8020    14     LD SIZE
14  0x15  0x5021    15       - ONE
15  0x17  0x9020    16     MM SIZE
16  0x19  0x101d    17      JZ END
17  0x1b    0x09    18     JP LOOP
18  0x1d    0xbf    19   END OS /F
19  0x1e     0x0    20   IADDR K 0
20  0x1f     0x0    21         K 0
21  0x20     0x0    22    SIZE K 0
22  0x21     0x1    23     ONE K 1
23  0x22    INIT    24  # INIT 0x0